@import "./tailwind.css";
@import "./root.css";

@font-face {
  font-family: "Pretendard";
  src: url("/src/font/PretendardVariable.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: "CodeSaver";
  src: url("/src/font/CodeSaver-Regular.otf") format("opentype");
  font-weight: 400;
}

@font-face {
  font-family: "CodeSaver";
  src: url("/src/font/code-saver-medium.otf") format("opentype");
  font-weight: 500;
}

@font-face {
  font-family: "CodeSaver";
  src: url("/src/font/code-saver-bold.otf") format("opentype");
  font-weight: 700;
}

.typed-cursor {
  animation: blink 5s;
}
