:root {
  @layer base {
    body {
      font-family: "CodeSaver", sans-serif;
    }
  }
  /* Gray palette */
  @theme {
    --black: #000;
    --white: #fff;
    --gray-100: #f6f6f6;
    --gray-200: #f2f2f2;
    --gray-300: #d7d7d7;
    --gray-400: #b0b0b0;
    --gray-500: #a1a1a1;
    --gray-600: #8f8f8f;
    --gray-700: #595959;
    --gray-800: #404040;
    --gray-900: #313131;
    --gray-1000: #1c1c1c;
  }

  /* Typography */
  /* font-size */
  @layer components {
    .title {
      font-size: 100px;
      font-weight: bold;
      line-height: 140%;
      letter-spacing: -3px;
    }

    .h2 {
      font-size: 50px;
      font-weight: bold;
      line-height: 140%;
      letter-spacing: 0%;
    }

    .h3 {
      font-size: 32px;
      font-weight: bold;
      line-height: 120%;
      letter-spacing: 0%;
    }

    .h4 {
      font-size: 32px;
      font-weight: medium;
      line-height: 140%;
      letter-spacing: 0%;
    }

    .h5 {
      font-size: 24px;
      font-weight: bold;
      line-height: 140%;
      letter-spacing: 0%;
    }

    .h6 {
      font-size: 16px;
      font-weight: medium;
      line-height: 140%;
      letter-spacing: -0.3%;
    }

    .b-e {
      font-size: 14px;
      font-weight: medium;
      line-height: 140%;
      letter-spacing: -0.3px;
    }
    .b-k {
      font-size: 14px;
      font-weight: medium;
      line-height: 150%;
      letter-spacing: -0.3%;
    }

    .typed-cursor.typed-cursor--blink {
      animation: typedjsBlink 1s step-end infinite !important;
    }
    @keyframes typedjsBlink {
      0%,
      100% {
        opacity: 1;
      }
      50% {
        opacity: 0;
      }
    }
    @keyframes blob {
      0%,
      100% {
        transform: translate(0px, 0px) scale(1);
      }
      50% {
        transform: translate(30px, -20px) scale(1.1);
      }
    }

    .animate-blob {
      animation: blob 25s ease-in-out infinite;
    }

    .glass-inner {
      box-shadow: inset 0 1px 3px rgba(255, 255, 255, 0.2),
        inset 0 -1px 3px rgba(0, 0, 0, 0.1);
    }

    .gradient-stroke-inside {
      position: relative;
      border: none;
    }

    .gradient-stroke-inside::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      border-radius: inherit;
      padding: 1px;
      background: linear-gradient(135deg, #404040, #1c1c1c) border-box;
      -webkit-mask: linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
      -webkit-mask-composite: destination-out;
      mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
      mask-composite: exclude;
      z-index: -1;
      pointer-events: none;
    }
  }

  /* Gnb Item */
  .gnb-item {
    width: 226px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5px;
    border-right: 1px solid var(--gray-900);
  }
}
