:root {
  @layer base {
    body {
      font-family: "CodeSaver", sans-serif;
    }
  }
  /* Gray palette */
  @theme {
    --black: #000;
    --white: #fff;
    --gray-100: #f6f6f6;
    --gray-200: #f2f2f2;
    --gray-300: #d7d7d7;
    --gray-400: #b0b0b0;
    --gray-500: #a1a1a1;
    --gray-600: #8f8f8f;
    --gray-700: #595959;
    --gray-800: #404040;
    --gray-900: #313131;
    --gray-1000: #1c1c1c;
  }

  /* Typography */
  /* font-size */
  @layer components {
    .title {
      font-size: 100px;
      font-weight: bold;
      line-height: 140%;
      letter-spacing: -3px;
    }

    .h2 {
      font-size: 50px;
      font-weight: bold;
      line-height: 140%;
      letter-spacing: 0%;
    }

    .h3 {
      font-size: 32px;
      font-weight: bold;
      line-height: 120%;
      letter-spacing: 0%;
    }

    .h4 {
      font-size: 32px;
      font-weight: medium;
      line-height: 140%;
      letter-spacing: 0%;
    }

    .h5 {
      font-size: 24px;
      font-weight: bold;
      line-height: 140%;
      letter-spacing: 0%;
    }

    .h6 {
      font-size: 16px;
      font-weight: medium;
      line-height: 140%;
      letter-spacing: -0.3%;
    }

    .b-e {
      font-size: 14px;
      font-weight: medium;
      line-height: 140%;
      letter-spacing: -0.3px;
    }
    .b-k {
      font-size: 14px;
      font-weight: medium;
      line-height: 150%;
      letter-spacing: -0.3%;
    }

    .typed-cursor.typed-cursor--blink {
      animation: typedjsBlink 1s step-end infinite !important;
    }
    @keyframes typedjsBlink {
      0%,
      100% {
        opacity: 1;
      }
      50% {
        opacity: 0;
      }
    }
  }
}
